<!-- UNSUCCESS MESSAGE REGISTER -->

<% if(typeof errors!= 'undefined') { %>
    <%    errors.forEach(function(error){ %>
    <p> <%= error.msg %></p>
    <%    })        %>
    <% } %>

<!-- SUCCESS MESSAGE REGISTER -->

<% if(success_msg!= '') { %>
    <p><%=success_msg %> </p>
    <% } %>

    
<!-- AUTHENTICATION ERRORS -->    

<% if(error_msg != '') { %>
    <%= error_msg %> 
<% } %> 
<% if(error != '') { %>
    <%= error %>
<% } %>