.headerboris {
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;

  background-color: transparent;

  box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, 0.75);

  background-position: center;
  background-repeat: no-repeat;
  background-size: 30%;

  background-color: aliceblue !important;
}

.essai {
  color: #2cc3c9 !important;
}
.essai:hover {
  border-radius: 10%;
  color: #78f3da !important;
}
.name {
  color: #78f3da !important;
}
.name :hover {
  color: #2cc3c9 !important;
  border-radius: 10% !important;
  background-color: red !important;
}

.menu {
  display: flex;
  flex-direction: column;
  margin: 5px;
  padding: 5px;
}

.pictures {
  width: 60px;
  height: auto;
}
@media (max-width: 500px) {
  .headerboris {
    background: #3077fb60;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR6aBcGIcwJ-KyCR0F6uWBpzYcHUQWK9k5rHA9anCb8svNnDaX50sBsgkUrt1Q-Z3qhULY&usqp=CAU);
  }
}
