* {
  margin: 0;
  padding: 0;
}

.feed {
  padding: 2% 5% 10% 5%;

  margin: 0% 10% 0% 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
