.login {
  display: grid;
  place-items: center;
  height: 100vh;
}

.login > div > img {
  object-fit: contain;
  height: 150px;
}

.login > div {
  display: flex;
  flex-direction: column;
}

.login > button {
  width: 300px;
  height: 50px;
  text-align: center;
  font-size: 1em;
  border-radius: 33px;
  background-color: #2e81f4;
  color: #eff2f5;
  font-weight: 800;
  cursor: pointer;
  border: none;
}

.login > button:hover {
  background-color: #eff2f5;
  color: #2e81f4;
}
