.messageSender {
  margin-top: 30px;
  margin-bottom: 1%;

  background-color: rgb(191, 228, 231);
  border-radius: 15px;
  box-shadow: 0px 5px 10px -2px rgb(0, 0, 0);
  width: 100%;
}

.messageSender__bottom {
  display: flex;
  justify-content: space-evenly;
}

.messageSender__option {
  height: 10px;
  padding: 20px;
  display: flex;
  align-items: center;
  color: gray;
  margin: 5px;
  cursor: pointer;
}

.messageSender__option:hover {
  background-color: #eff2f5;
  border-radius: 999px;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.75);
}

.button {
  margin-top: 1%;
  margin-bottom: 1%;
  width: 300px;
  height: 50px;
  text-align: center;
  font-size: 1em;
  border-radius: 33px;
  background: -webkit-linear-gradient(
    89deg,
    rgb(41, 196, 201),
    rgb(121, 244, 218)
  );

  color: #eff2f5;
  font-weight: 800;
  cursor: pointer;
  border: none;
}

.button:hover {
  box-shadow: 0 10px 20px -10px rgb(255, 255, 255);
  transform: translateY(-10px);
  background: #86ffed;
}
